# update defaults as needed, and resave as tj.cfg

# set default editor for journal
# vim is go to default
EDITOR=vim; export EDITOR

# set task journal folder location
JOURNALS_FOLDER="$HOME/task-journal"

# default folders dependent on journals folder
REVIEW_FOLDER="$JOURNALS_FOLDER/reviews"

KEY_FILE="$JOURNALS_FOLDER/key.md"
HABITS_FILE="$JOURNALS_FOLDER/habits.md"

# this can be set seperately
TODO_FILE="$JOURNALS_FOLDER/todo.txt"

# future log / reminders file
REMINDERS_FILE="$JOURNALS_FOLDER/reminders.txt"
